body{
    background-color: rgba(251, 255, 0, 0.932);
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    color: black
}

#home{
    text-align: center;
}

li{
    list-style: none;
    display: inline;
    border: solid 2px rgb(0, 0, 0);
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
}

a{
    text-decoration: none;
}

#bannerxfr{
    width: 30%;
    height: 10%;
    overflow: hidden;
}

h6{
    font-weight: bold;
}

h2{
    border: solid 1px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 10%;
    margin-left: 45%;
    text-align: center;
}

.css-15pl89n{
    width: 20%;
    height: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: 33% 33% 33% 33%;
}

#energy1{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#energy3{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#energy5{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy6{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#energy7{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy8{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#energy9{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy10{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#energy11{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy12{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#energy13{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#energy14{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);;
}

#sucos1{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#sucos2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#sucos3{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#sucos4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#sucos5{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#sucos6{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#sucos7{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#sucos8{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#sucos9{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold; 
}

#sucos10{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#sucos11{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#sucos12{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#sucos13{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#sucos14{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);;
}

#alcool1{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#alcool2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#alcool3{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#alcool4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#alcool5{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#alcool6{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#alcool7{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#alcool8{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#alcool9{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold; 
}

#alcool10{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#alcool11{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#alcool12{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#alcool13{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#alcool14{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);;
}

#gelo1{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#gelo2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#gelo3{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#gelo4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#gelo5{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#gelo6{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#gelo7{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#gelo8{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas1{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#comidinhas2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas3{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#comidinhas4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas5{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#comidinhas6{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas7{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#comidinhas8{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas9{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold; 
}

#comidinhas10{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas11{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#comidinhas12{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#comidinhas13{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#comidinhas14{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);;
}

#vinhos1{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#vinhos2{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#vinhos3{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#vinhos4{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#vinhos5{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#vinhos6{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#vinhos7{
    font-family: 'Creepster', cursive;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#vinhos8{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#vinhos9{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold; 
}

#vinhos10{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#vinhos11{
    font-family: 'Creepster', cursive;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#vinhos12{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
}

#vinhos13{
    font-family: 'Creepster', cursive;
    grid-column-start: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#vinhos14{
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);;
}